@font-face {
    src: url("assets/fonts/ArchivoBlack-Regular.ttf");
}

@font-face {
    src: url("assets/fonts/LuckiestGuy-Regular.ttf");
}

.background {
    -fx-background-color: #1d1d1d;
}

.bg-menu {
    -fx-background-image: url("assets/Menubackground.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "LuckiestGuy";
    -fx-text-fill: white;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "LuckiestGuy";
    -fx-text-fill: rgb(22, 20, 20);
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 65pt;
    -fx-font-family: "Luckiest Guy";
    -fx-text-fill: rgb(0, 0, 0);
}

.label-error {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Archivo Black";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Archivo Black";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Archivo Black";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, "Archivo Black", sans-serif;
    -fx-font-size: 15pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.button-danger {
    -fx-background-color: #c0392b;
    -fx-border-color: #c0392b;
    -fx-text-fill: white;
    -fx-padding: 2 8 2 8;
    -fx-font-size: 9pt;
}

.button-danger:hover {
    -fx-background-color: #922b21;
}

.button-green {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-color: #13b21e;
    -fx-font-family: "Segoe UI", Helvetica, "Archivo Black", sans-serif;
    -fx-font-size: 15pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button-start {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 15;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10 20 10 20;
}

.button-start:hover {
    -fx-background-color: linear-gradient(to bottom, #ffc46a, #f08c00);
}

.button-start:pressed {
    -fx-background-color: linear-gradient(to bottom, #e67e00, #c46000);
}

.button-start:disabled {
    -fx-opacity: 0.4;
}